html, body {
    margin: 0;
    padding: 0;
}
.contenedor {
    position: relative;
    display: inline-block;
    &__imagen-overlay-48{
        width: 60px;
        position: absolute;
        bottom: 60px;
        right: 10px;
    }
}
